
body {margin:0;
	padding:0;
	background-image: url("../images/bg2.jpg");
	-webkit-background-size: cover;
	background-repeat: no-repeat;}

h1 {font-family:tahoma;
	font-size: 3em;
	color:white;
	text-shadow: 6px 6px 6px black;}

/*#experiment {width:35px;
			height:35px;
			border-left:3px solid white;
			border-top:3px solid white;
			border-bottom:3px solid white;
			border-radius: 50%;*/
			
}

#input {padding:7px;
		border-radius:7px;
	}

.newClass {height: 400px;
			margin-top:25px;
		   background-color: rgba(13,100,150,0.5);
		   color:white;
		   font-size:20px;
		   font-weight: bold;}

